body {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 70vh;
    margin-top: 44px;
    opacity: 0.9;
    background-color: rgba(45, 40, 40, 0.6);
    
}

main {
    gap: 10px;
    margin-top: 30px;  
    background-color: rgba(245, 236, 236, 0.479);  
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.input-mail {
    justify-content: center;
    display: flex;
    position: relative;
    padding: 10px;
}

.input-mail i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 9%;
    
}

.input-mail input {
    padding-right: 20px;
    width: 66%;
    padding: 2px;
}

.input-password {
    justify-content: center;
    display: flex;
    position: relative;
    padding: 10px;
}

.input-password i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 9%;
}

.input-password input {
    padding-right: 20px;
    width: 66%;
    padding: 2px;
}

.button-login {
    justify-content: center;
    display: flex;
    margin-top: 20px;
    width: 300px;
    height: 30px;
    
}

.register {
    justify-content: center;
    display: flex;
    margin-top: 20px;
}


